* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ToDo-table {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  h1 {
    text-align: center;
    margin-bottom: 1%;
  }
}
.input-list {
  display: flexbox;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  box-sizing: border-box;

  margin-left: 7%;
  margin-right: 7%;
  padding: 0%;
  border-color: gray;
  input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    width: 93%;
    height: 10%;
    padding: 0.7%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 1%;
    background-color: #fff;
    border-color: darkgray;
  }
  button {
    color: aliceblue;
    background-color: #00a7b5;
    border: none;
    border-radius: 4px 5px;
    margin: 0.8%;
    margin-bottom: 1%;
    margin-left: 2%;
    padding: 0.9%;
    width: 95.8%;
    cursor: pointer;
  }
  button:active {
    color: black;
    background-color: gray;
    border: none;
    border-radius: 4px 5px;
  }

  i {
    color: #fbfbfb;
    background-color: #00a7b5;
    size: 25rem;
    max-width: 25%;
    min-height: 25%;
    padding: 0.8%;
    margin-left: 2%;
    margin-top: 0.2%;
    border-radius: 5px 5px 0px 5px;
  }
  p {
    margin-left: 2.5%;
  }
}
